body {background-color: cadetblue;}

.container {background-color:antiquewhite;
            padding-top: 55px;
            max-width:960px;
            border:2px solid black;
            box-shadow: 4px 4px 10px black;
            min-height: 899px;}

nav {box-shadow: 2px 2px 5px black;
    max-width: 960px;
    margin:0 auto;}
footer {margin:0 auto;
    padding: 0 15px;
        max-width: 960px;}
.pagination {padding-bottom: 0;}
.progress-bar-danger {text-align: center;}
.progress-bar-warning {text-align: center;}
.progress-bar-success {text-align: center;}